/* body {
    margin: auto;
    background-color: rgb(129, 255, 169);
    text-align: center;
    align-items: center;
    display: flex;
  }
  
  #top-wrapper {
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 6em;
  }
  
  #btn-div {
    display: flex;
    align-items: center;
    gap: 10em;
  } */